body{
    background-image: url(img/bg.png);
    background-size: cover;
    margin: 0;
}
.dashes {
    border: 5px dashed black;
    padding: 20px;
    border-radius: 26px;
    margin-top: 2.6rem;
    margin-bottom: 2rem;
    margin-left: 1.3rem;
}
.card{
    border-radius: 26px !important;
    background: rgba(255, 255, 255, 0.94) !important;
    box-shadow: 0px 0px 25.9px 0px rgba(0, 0, 0, 0.30) !important;
    backdrop-filter: blur(40.099998474121094px) !important;
}
.form-control{
    border-radius: 10px !important;
    background: #CDCDCD !important;
}
h2{
    font-size: 24px !important;
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
}
.secondpart{
    margin: auto;
}
.subscription{
    background: #CDCDCD !important;
    border-radius: 26px;
    margin-left: 1.3rem;
    padding: 20px;
    margin-bottom: 2rem;
}
.insides{
    margin-top: 2rem;
}