body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../bg.png');
    background-size: cover;
  }
  /* Sidebar CSS */
  .sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
  }

  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
  }

  .sidebar a:hover {
    background-color: #555;
  }

  .sidebar h1 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }

  /* Adjust content position to make space for the sidebar */
  
  /* Navbar styles */
  .navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #555;
    transition: background-color 0.3s ease;
  }
  
  .nav-links a:hover {
    background-color: #777;
  }
  
  .navbar h1 {
    margin: 0;
    color: white;
  }
  
  /* Logout button styles */
  .logout-btn {
    background-color: #c62828;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-btn:hover {
    background-color: #d32f2f;
  }
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffffb7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  .equipment-list {
    margin-top: 20px;
  }
  
  .equipment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .equipment-name {
    font-weight: bold;
  }
  
  .actions button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-btn {
    background-color: #4caf50;
    color: #fff;
  }
  
  .delete-btn {
    background-color: #f44336;
    color: #fff;
  }
  
  .add-equipment {
    margin-top: 20px;
  }
  
  .add-equipment h2 {
    margin-bottom: 10px;
  }
  
  .add-equipment form input {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .add-equipment form button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
  }