
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../bg.png');
    background-size: cover;
}
   /* Sidebar CSS */
   .sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #555;
}

.sidebar h1 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

/* Adjust content position to make space for the sidebar */
.content {
    margin-left: 250px;
    padding: 20px;
}

  .navbar {
    background-color: #333333cb;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #555;
    transition: background-color 0.3s ease;
  }
  
  .nav-links a:hover {
    background-color: #777;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffffc4;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 0;
    color: #333;
  }
  
  .schedule {
    margin-bottom: 20px;
  }
  
  .schedule-item {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .schedule-item .info {
    display: flex;
    align-items: center;
  }
  
  .schedule-item .info h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  .schedule-item .info p {
    margin: 0;
    color: #666;
    font-size: 14px;
    margin-left: 15px;
  }
  
  .actions button {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .actions button:hover {
    background-color: #555;
    color: #fff;
  }
  
  .add-schedule {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  .form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .add-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-btn:hover {
    background-color: #0056b3;
  }  